  <nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand fs-2 text-white">
      Lists
    </a>
    <%= link_to "Back to the lists", lists_path(@list), class: "text-white btn  text-decoration-none"%>
  </div>
</nav>
<%= simple_form_for @list do |f| %>
<%=f.input :name %>
<%=f.input :photo %>
<%= f.submit %>
<% end %>
