  <nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="text-white navbar-brand fs-2">
      Lists
    </a>
    <%= link_to "Back to the lists", lists_path(@list), class: "text-white btn  text-decoration-none"%>
  </div>
</nav>

<%= link_to "Back to #{@list.name}", list_path(@list), class: "text-white btn  text-decoration-none"%>

<%= simple_form_for [@list, @bookmark] do |f| %>
<%=f.input :comment %>
<%=f.association :movie%>
<%= f.submit %>
<% end %>
